@model University.Models.Student

@{
    ViewData["Title"] = "Create";
}

<div class="w-50">
    <form asp-controller="Students" asp-action="Store" method="post">
        @Html.AntiForgeryToken()

        <div class="form-group mb-3">
            <label asp-for="LastName" class="form-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="FirstMidName" class="form-label"></label>
            <input asp-for="FirstMidName" class="form-control" />
            <span asp-validation-for="FirstMidName" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="EnrollmentDate" class="form-label"></label>
            <input asp-for="EnrollmentDate" class="form-control" type="date" />
            <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
